In [2]:
if true:
  a = 5
  b = 2
  jumlah = a + b
  print(jumlah)

NameError: ignored

In [6]:
angka = 35

if angka > 30:
  print(f'{angka} lebih besar dari 30')

35 lebih besar dari 30

In [7]:
20 > 30

False

In [9]:
angka = 20

if angka > 30:
  print(f'{angka} lebih besar dari 30')
else:
  print(f'{angka} lebih kecil dari 30')

20 lebih kecil dari 30

In [12]:
angka = 30

if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka ==30:
  print(f'{angka} sama dengan 30')
else:
  print(f'{angka} lebih kecil dari 30')

30 sama dengan 30

In [15]:
angka = 40

if angka > 30:
  print(f'{angka} lebih besar dari 30')
if angka ==30:
  print(f'{angka} sama dengan 30')
else:
  print(f'{angka} lebih kecil dari 30')

40 lebih besar dari 30
40 lebih kecil dari 30

jika pyhon menggunakan if 2x atau lebih, maka terjadi seperti di atas, seperti ada pengecheckan baru lagi

In [19]:
angka = 10

if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka ==30:
  print(f'{angka} sama dengan 30')
elif angka > 20:
  print(f'{angka}lebih besar dari 20')
else:
  print(f'{angka} lebih kecil dari 30')

10 lebih kecil dari 30

Latihan #1 hari ke-2

- A = [80 - 100]
- B = [70 - 80)
- C = [60 - 70)
- D = [45 - 60)
- E = [0 - 45)

In [40]:
# Nested if
# A = [80 - 100]
# B = [70 - 80)
# C = [60 - 70)
# D = [45 - 60)
# E = [0 - 45)
nilai = 100

if 0 <= nilai <= 100:
  if nilai >= 80:
    print('A')
  elif nilai >= 70:
    print('B')
  elif nilai >= 60:
    print('C')
  elif nilai >= 45:
    print('D')
  elif nilai >=0:
    print('E')
else:
  print('nilai tidak valid')

A

In [48]:
# Menentukan Ganjil atau Genap

angka = 

if angka %2==0:
    print('Genap')
else:
    print('Ganjil')

Ganjil

In [4]:
cities = ['Madura', 'Majalengka', 'Balikpapan']
nama_kota = 'Bali'

if nama_kota in cities:
  print(f'{nama_kota} merupakan kelompok dari cities')
else:
  print(f'{nama_kota} bukan merupakan kelompok dari cities')

Bali bukan merupakan kelompok dari cities

In [50]:
nama_kota in cities

False

## Looping

### While Loop

In [10]:
i = 0

while i < 5:
 print(i)
 i = i + 1

0
1
2
3
4

In [2]:
angka = 0

In [4]:
angka = angka + 1
angka

5

In [18]:
i = 1

while i <= 10:
  print(f'5 x {i} = {5 * i}')
  i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [14]:
i = 1
j = 1

while i <= 10:
  while j <= 10:
    print(f'{i} x {j} = {i * j}')
    j = j + 1
  print('-'*10)
  i = i + 1
  j = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

## For Loop

In [6]:
cities = list(cities)
cities

['Madura', 'Majalengka', 'Balikpapan']

In [8]:
for kota in cities:
  print(type(kota), kota)

<class 'str'> Madura
<class 'str'> Majalengka
<class 'str'> Balikpapan

In [23]:
len(cities)

3

In [25]:
i = 0

while i < len(cities):
  print(cities[i])
  i += 1                   # i = i + 1

Madura
Majalengka
Balikpapan

In [26]:
for idx in range(len(cities)):
  print(cities[idx])

Madura
Majalengka
Balikpapan

In [20]:
for i in range(1,11):
  print(f'5*{i} = {5*i}')

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:

for i in range (1,11):
  for j in range (1,11):
   print(f'{i} x {j} = {i * j}')
   j = j + 1
  print('-'*10)

In [30]:
type(range(1,11))

range

In [31]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Flow Control Statement

In [32]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
for i in range(1,11):
  print(i)
  if i == 6:
    break

1
2
3
4
5
6

In [37]:
for i in range(1,11):
  print(i)
  if i == 6:
    continue

1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(1,11):
  if i in [4,6,7]:
    continue
  print(i)

1
2
3
5
8
9
10